^{:teod.subcons/filewriter :teod.subcons.filewriter/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "Freedom / Truth / Fire"]
  [:link {:rel "stylesheet" :href "ftf.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:p [:a {:href ".."} ".."]]
    [:h1 {:style "color: #252525"}
     "Freedom / Truth / Fire"]
    [:p "TODO merge from twitter"]
    [:p "TODO summarize"]
    [:p "TODO - provide Nitter link / embed"]
    [:p "View this page on web: " [:a {:href "https://subcons.teod.eu/freedom-truth-fire/"
                                       :target "_blank"}
                                   "https://subcons.teod.eu/freedom-truth-fire/"]]]]]]
