^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "untitle"]
  [:meta {:name "viewpoert" :content "width=device-width, initial-scale=1"}]]
 [:body
  [:p "Places not of reason include:"]
  [:ul
   [:li [:a {:href "./theory-meaning/"} "A theory of meaning"]]
   [:li [:a {:href "./doomemacs-journey/"} "./doomemacs-journey/"]]
   [:li [:a {:href "./sp/"} "./sp/"]]]]]
