^{:teod.subcons/filewriter :teod.subcons.filewriter/hiccup-html
  :teod.subcons/transformers [teod.subcons.sci/eval]}
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "aspirational hyper-incremental idea factory"]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "stylesheet" :href "root.css"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section
   [:p [:em "Internet. The place of advice without context."]]
   [:p "AKA aspirational hyper-incremental idea factory — expreiment with message, medium and tools."]
   [:p "Zero treshold for posting - don't expect curation."
    " Rather, expect noise and play!"]
   [:p ""]
   [:p "A few pages:"]
   [:ul
    [:li [:a {:href "aspirational-todo/"} "Aspirational TODO"]]
    [:li [:a {:href "data-driven-site/"} "Data driven static sites"]]
    [:li [:a {:href "theory-meaning/"} "A theory of meaning"]]
    [:li [:a {:href "doomemacs-journey/"} "A Doom Emacs journey"]]
    [:li [:a {:href "sp3"} "sp3/"]]
    [:li [:a {:href "sp4"} "sp4/"]]
    [:li [:a {:href "porta1"} "porta1"]]
    [:li [:a {:href "porta2"} "porta2"]]
    [:li [:a {:href "bored/"} "bored"]]]
   [:p "Sci is nice. Look, we can do embedded calculation:"]
   (let [showoff (fn [form]
                   [:pre [:code (str form)
                          " is "
                          (str (eval form))]])]
     [:div
      (showoff (quote (* 9 9)))
      (showoff (quote (range 12)))])
   [:p "Or produce some HTML:"]
   [:ul (for [x (range 3)]
          [:li "number " x])]]]]
