^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "·"]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "stylesheet" :href "root.css"}]]
 [:body
  [:section
   [:p "Places not of reason include:"]
   [:ul
    [:li [:a {:href "theory-meaning/"} "A theory of meaning"]]
    [:li [:a {:href "doomemacs-journey/"} "A Doom Emacs journey"]]
    [:li [:a {:href "sp3/"} "sp3/"]]
    [:li [:a {:href "sp4/"} "sp4/"]]
    [:li [:a {:href "porta1"} "porta1"]]
    [:li [:a {:href "porta2"} "porta2"]]]]]]
