html {
    height: 100vh;
    margin: 0;
}

a {
    color: inherit;
}

body {
    background-color: #1f5768;
    color: yellow;
}

body > section {
    margin: 2em;
}

li {
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;

}

body {
    font-size: 1.2rem;
}
