^{:teod.subcons/filewriter :teod.subcons.filewriter/hiccup-html}
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "·"]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "stylesheet" :href "ast.css"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section {:class "green"} #_"green"
   [:div {:class "anchor"}
    [:div {:class "textbox"
           :style "color: #ffb703"}
     [:p "Look at " [:a {:href "https://sr.ht/"} "sr.ht"] ]
     [:p "Look at " [:a {:href "https://swaywm.org/"} "swaywm.org"]]
     ]
    ]]
  [:section {:class "yellow"} #_"lighter green"
   [:div {:class "anchor"}
    [:div {:class "textbox"
           :style "color: brown;"}
     [:p "Look at " [:a {:href "https://drewdevault.com/2021/07/04/Is-GitHub-a-derivative-work.html"}
                     "Drew DeVault's blog"]]]]]
  [:section {:class "blue"} #_"blue"
   [:div {:class "anchor"}
    [:div {:class "textbox"
           :style "color: yellow;"}
     [:p "👀"]]]]
  ]]
