^{:teod.subcons/filewriter :teod.subcons.filewriter/hiccup-html
  :teod.subcons/transformers [teod.subcons.sci/eval]}
(let [hakyll "https://jaspervdj.be/hakyll/"
      kentbeck-tcr "https://medium.com/@kentbeck_7670/test-commit-revert-870bbd756864"]
  [:html
   [:head
    [:meta {:charset "utf-8"}]
    [:title "Aspirational TODO"]
    [:link {:rel "stylesheet" :href "style.css"}]
    [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
    [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
   [:body
    [:main
     [:section
      [:p [:a {:href ".."} ".."]]
      [:h1 {:style "color: #252525"}
       "A data-driven approach to static sites"]
      [:p "My " [:a {:href "https://www.teodorheggelund.com/"} "old static site"]
       " setup was complex. I didn't really know how it worked."
       " And it took half an hour to compile. Why? I used " [:a {:href hakyll} "Hakyll"]
       " (which is great), and compiled Pandoc from source"
       " (which I don't recommend)."
       " I've seriously enjoyed playing with " [:a {:href kentbeck-tcr} "TCR"] "."
       " Technically, TCR nudges you to minimize the time from having your code in one working state, to having your code in"
       " another working state."
       " I wanted something similar, but with the flexibility of playing around with raw HTML, and raw CSS."]
      [:p [:em "How does it work?"] " I write straignt into an " [:a "EDN file"] "."
       " If anyone wants to learn structural editing, writing a blog post in EDN is great exercise."
       " Then the " [:a "build system"] " picks up the data, dispatching based on metadata in the EDN file."
       " Finally, an " [:a "HTML file"] " is produced."
       ]


      ;; View on web - Can this be a function / reusable component?
      [:p "Nods of appreciation for inspiration to Magnar Sveen, Jack Rusher (simple Clojure HTML approaches), Oddmund Strømme (TCR & discussions)."]
      [:p "View this page on web: " [:a {:href "https://subcons.teod.eu/simple-static/"
                                         :target "_blank"}
                                     "https://subcons.teod.eu/simple-static/"]]]]]])
