/* ---------------------------------------------------------------------------
                                   VARIABLES
 */

:root {
    --teod-teal: #1A4756;
}


/* ---------------------------------------------------------------------------
                             TYPOGRAPHY AND SIZING
 */

a {
    color: inherit;
}

body {
    font-size: 1.05rem;
    margin: 0;
}

body h1 {
    font-size: 1.6rem;
}

body h2 {
    font-size: 1.4rem;
}

body h3 {
    font-size: 1.2rem;
}

/* ---------------------------------------------------------------------------
                                    SPACING
*/

body > * > section {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

body > main {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 6rem;
}

/* ---------------------------------------------------------------------------
                                 GRAPHIC STYLE
 */

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    background-color: #77f87a;
    color: var(--teod-teal);
    flex: 1;
}
