^{:teod.subcons/filewriter :teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "·"]
  [:link {:rel "stylesheet" :href "porta2.css"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]]
 [:body
  [:section.left
   [:p "This is the beginning. Writing lots of text just to fill lines sucks balls."
    " Pelicans." " Pelicans." " Pelicans." " Pelicans." " Pelicans."
    " Pelicans." " Pelicans." " Pelicans." " Pelicans." " Pelicans."
    " Pelicans." " Pelicans." " Pelicans." " Pelicans." " Pelicans."
    " Pelicans." " Pelicans." " Pelicans." " Pelicans." " Pelicans."]]
  [:section.right
   [:p "Item 2"]]
  [:section.left
   [:p "Item 3"]]]]
