body {
    display: flex; flex-direction: column;
    margin: 0
}

.left {
    width: 62vw;
    background-color: pink;
    align-self: flex-left;
}

.right {
    width: 38vw;
    background-color: pink;
    align-self: flex-end;
}

body > section > * {
    margin: 1em;
}
