^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "Icecalc: status & technical prototyping"]
  [:link {:rel "stylesheet" :href "ic-tech-proto.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section {:id "main"}
   [:section
    [:h1 {:style "color: #252525"}
     "Icecalc: status & technical prototyping"]
    [:p "Where are we? Where do we need to go?"]
    [:h2 "Known limitations"]
    [:ul
     [:li "I need to deliver a PDF for work - you can't give it to me"]
     [:li "You just provide an URL. I need to keep my documents organized."
      " To do this, I have already established an intricate folder hierarcy. This is on an internal drive."
      " Simply ignoring this and \"putting it on the web\" won't help me."
      " There's a reason we're using Microsoft Word, and not Google drive: because we're working with files."
      " You've removed all my means to organize my work."
      " I don't accept having to remember a bunch of URLs, why would I."
      " And the rest of my team won't either - if it doesn't exist in the shared folder, it doesn't exist."]
     ]
    [:h2 "Areas for technical prototyping"]
    [:ol
     [:li [:strong "Icealc FFI"] ". Call Icecalc document as a function with HTTP request"]
     [:li [:strong "Icecalc Inspect"] ". Extract Icecalc document structure with HTTP request"]
     [:li "Use Icecalc FFI and Inspect from Python"]
     [:li "Use Icecalc FFI and Inspect from Excel"]]]]
  [:section {:id "discussion"}
   [:section {:style "margin-top: 2em; margin-bottom: 2em"}
    [:p {:style "color: white; text-align: center"}
     "What do?"]]
   [:section
    [:h2 "Discussion"]
    [:p "What? Why?"]]
   [:section
    [:h3 "2021-07-17"]
    [:p "Jeg satt igjen med noen inntrykk etter møtet med ingeniørene fra Multiconsult."]
    [:ol
     [:li "Det er et stykke igjen til vi er bedre enn Mathcad. Vi er ikke det nå. For mange skarpe kanter."
      " Vi kan snakke så mye vi vil om 80/20 -- men å smelle inn en kritisk feature eller to gjør ikke"
      " produktet vårt " [:em "bedre"] " enn Mathcad. Vi kommer ikke rundt at vi må gjøre en jobb."
      " Hvordan organiserer jeg dokumentene mine? Får jeg jobben min ut?"
      " At jeg personlig " [:em "kunne"] " brukt Icecalc til mye Mathcad-jobbing betyr ikke at vi er bedre enn det som finnes i dag."
      " Den typen finpuss på produktet vi har igjen er det heller ikke rett å dytte over på folk vi snakker med."
      " Vi har bedre forutsetninger for å si hva vi bør gjøre -- selv om det hadde vært fint å\"bare få se hvordan en ingeiør jobber\"."
      " Problemet med det tankesettet er at vi ikke tilbyr noe i relasjonen; og vi velger " [:em "med vilje"] " å gå en " [:em "lang"] " vei før vi kan ta oss betalt, hvis vi skal bli " [:em "bedre"] " enn Mathcad."
      " " [:q "Kan du bruke Icecalc til å erstatte Mathcad i din hverdag"] " er " [:em "feil spørsmål"] "."]
     [:li "Å erstatte Mathcad løser ikke noen av de bredere problemene i dagens arbeidsprosess."]
     [:li "En ingeniør som erstatter Mathcad med Icecalc i prosjektet sitt tjener ingenting på det."]]
    [:p "Så?"]
    [:p "En bedre måte å tenke på det, er at at vi kjører " [:em "to"] " spor."]
    [:ol
     [:li [:strong "Spor 1"] ": Icecalc som alternativ til Mathcad. Små inkrementelle steg, lav usikkerhet. Begrenset potensial."]
     [:li [:strong "Spor 2"] ": Neste generasjons ingeniørprosjekt."
      " Vi " [:em "bruker"] " at vi kontrollerer datamodellen i Icecalc til å gjøre ting som ikke er mulig ellers."
      " Input til FEM-model? Den kan vi autogenerere. Begynne i Icecalc, fortsette i Excel? Det kan vi få til."]]
    [:p "Prinsipper for spor 1:"]
    [:ul
     [:li "Icecalc skal " [:em "over tid"] " bli et godt alternativ til Mathcad for å gjøre beregninger"]]
    [:p "Prinsipper for spor 2:"]
    [:ul
     [:li [:q "Situational awareness for use of dataflow in engineering projects"]]
     [:li "Sjekke hvilken verdi vi faktisk kan levere i prosjekter"]
     [:li "Vil folk bruke greiene våre i reelle prosjekter?"]
     [:li "Hvordan er betalingsviljen?"]]
    [:p "Hvorfor gir dette mening?"]
    [:p "Vi kan ta Tesla-analogien. Først lager vi Model X for de med spesielle behov."
     " Den er dyr, men unik, du finner den ikke andre steder."
     " Med Model X kan vi fokusere " [:em "snevert"] " på der vi kan få best feedback på det vi gjør."
     " Betyr det at vi kun er for de som skal ha Model X? Nei."
     " Model X gir oss albuerom til å lage Model S. Og Model C. Men vi har ikke ressursene til å gå dit med en gang."]
    [:p "Vi må starte med å " [:a {:href "http://paulgraham.com/ds.html"} "gjøre ting som ikke skalerer"] "."
     " Det lønner seg ikke engang å hoppe til masse produksjon; markedet der er for stort."]
    [:p "Språkbruk, konsulenter, produkter og prosjekter."
     " Setningen \"vi må inn i prosjekt\" kan tolkes på to " [:em "helt"] " forskjellige vis."
     " I ingeniørens domene: det som skjer i prosjekt er faktisk jobb, alt annet er ... vel, ekstra"
     " stæsj som egentlig ikke trengs."
     " Ja, jeg kan diskutere med dere, og vi kan prate litt sammen, men det er ikke dette som er jobben min."
     " I vårt Iterate-konsulent-domene: \"det er timesarbeidet vi må komme oss vekk fra\"!"]
    [:p [:q "Men de må ikke tro vi er konsulenter!"]]
    [:ul
     [:li "Iterate-konsulentprosjekt: kunden er en organisasjon ofte ikke har forutsetninger for å"
      " vuderer verdien på det som blir levert, man ber om greier og får greier."]
     [:li "Ingeniørprosjekt: Det er veldefinert hva som skal bygges. Og vi jobber, prosjekterer."
      " Så leverer vi en plan, og er ferdige. Lett å måle."]]
    [:p "Iterate-konsulentprosjekt: Iterate leverer hoder til en kunde."]
    [:p "Ingeniør-konsulentprosjekt: Icecalc sin kunde er ingeniør-konsulenter, ingeniør-konsulentents kunde er en oppdragsgiver som skal ha noe bygget."
     " Ingeniør-konsulentene ville aldri funnet på å leie inn andre konsulenter for å lage verktøy som de kan bruke."
     " Det hadde vært som om vi skulle leid inn Itera for å bygge Iterapp. Uaktuelt? Nettopp."]
    [:p " Så " [:em "vi må inn i prosjekt med ingeniørene"] " betyr ikke at vi selger sjelen vår og reverterer til konsulentvirsomhet."
     " Det betyr at vi plutselig får albuerom til å kunne samarbeide med ingeniørene, og gi ingeniørene albuerom til å samarbeide med oss."]
    [:p " Gir det mening da?"
     " For oss i ICE: da får vi sett Icecalc i ekte bruk."
     " For ingeniør-konsulentene: da får de satt premissene slik at de kan kjøre Model X-en sin, selv om den ennå krever jobb som vi ikke kan fortsette å gjøre i all ende."]
    [:p [:q "Skal ingeniør-konsulentene få bestemme hva vi skal legge i Icecalc, da?"]
     " Nei, absoulutt ikke. Det er en forferdelig dårlig idé. Icecalc-produktet " [:em "må"] " holde seg på spor 1: må kunne erstatte Mathcad."
     " Det er " [:em "utenfor"] " Icecalc-produktet vi kan gjøre alle de tingene som ikke skalerer."
     " Skrive noen snutter kode som bruker utvidbarheten i Icecalc til å løse problemer som ikke kan løses på andre vis."
     " Oooog ... hvis de snuttene muliggjør en arbeidsflyt som er mye bedre enn hva de gjør i dag, ... da har plutselig vi noe i Icecalc som Mathcad ikke har, og ikke kan konkurrere med."]
    [:p ""]
    ]
   [:section
    [:p {:style "color: white; margin-top: 4rem; text-align: center"}
     "Do what?"]]
   [:div {:style "height: 50vh"}]
   ]]]
