[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "A theory of meaning"]]
 [:body
  [:h1 "A theory of meaning"]
  [:ol
   [:li "Have a worthy persuit"]
   [:li "Take care of your friends"]
   [:li "Stay true to your principles"]]
  [:div {:style "height: 7em;"}]
  [:hr]
  [:p
   "I'm not certain about the last one, it smells like it only applies"
   "to me. I've got principles. Other people have a sense of right and"
   "wrong. And I don't think that everyone should go around defining"
   "principles. What I" [:em "do"] "think, however, is that when we stay"
   "in line with what we presume to be right right, we build trust in"
   "ourselves."]


  ;; eeeh
  ]]
