^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "A theory of meaning"]
  [:link {:rel "stylesheet" :href "theory-meaning.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section {:id "main"}
   [:section
    [:h1 {:style "color: #252525"}
     "A theory of meaning"]
    [:ol
     [:li "Have a worthy pursuit"]
     [:li "Take care of your friends and family"]
     [:li "Stay true to your principles"]]]]
  [:section {:id "discussion"}
   [:section {:style "margin-top: 2em; margin-bottom: 2em"}
    [:p {:style "color: white; text-align: center"}
     "Now what?"]]
   [:section
    [:h2 "Discussion"]
    [:p "Comments are much welcome! Please use "
     [:a {:href "https://twitter.com/TeodorHeggelund/status/1414673600817336322"} "Twitter"] " or Hypothesis."]
    [:p "I actually mean A theory. It's not THE theory. We've constructed"
     " theories of meaning for as long as we've had culture. \"What am I?\""
     " I don't presume to solve that. So, why bother?"]
    [:p "Because " [:em "the pursuit"] " of a theory of meaning might be worthwhile."]]
   [:section
    [:h3 "2021-07-12"]
    [:p "About " [:em "Stay true to your principles"] ". Whose principles?"
     " I like to talk about principles. But that's not really the point."
     " The point is the \"stay true\" part. What does that mean? If you're"
     " not staying true, then you'll feel bad. At least I would. And that's the point."]
    [:p "But \"listen to your heart\" sounds too vague for my taste."]
    [:p.sig "-Teodor"]]
   [:section
    [:h3 "2021-07-14"]
    [:p "I'm skeptical. This smells too orderly, too simple. Where's the outside influence? Where is the stuff"
     " that's not known? Where are the new worthwhile pursuits?"]
    [:p.sig "-Teodor"]]
   [:section
    [:h3 "2021-07-16"]
    [:p [:strong "Principle 3."]
     " The last one implies that you have good principles :)"]
    [:p [:strong "Principle 2."]
     " What about family? How about \"relationships\" rather than friends?"]
    [:p.sig "-Erik"]
    [:p "I agree that family should be included. \"relationships\" sounds a bit stiff, though."]
    [:p "Perhaps just " [:q "Take care of your friends and family"] "?"]
    [:p "And the principles, yeah, let's hope they're good, though measuring \"good\" is hard! 😄"]
    [:p.sig "-Teodor"]

    [:p "Found a CSS issue:"]
    [:p
     [:img {:style "display: block; margin: 0px auto; max-width: 100%"
            :src "issue-white-background-on-body-overflow.png"}]]
    [:p "I'm using absolute positioning to display annotations in the right margin."
     " But I didn't consider overflows I set the background."
     " Though when the screen is small, what should happen? Having it be possible to scroll right is actually not too bad."
     " I would appreciate it if I could avoid destroying the background, though."]
    [:p "Hmm."]
    [:p "Leaving it as-is for now."]
    [:p.sig "-Teodor"]]
   [:section
    [:h3 "2021-07-17"]
    [:p "It's not worth it to break scrolling - at least not here, now."
     " Hard to make out-of-context annotations that work well on mobile anyway."
     " So - remove the annotations, and make sure that images are sized like they should."]
    [:p.sig "-Teodor"]]
   [:section
    [:p {:style "color: white; margin-top: 4rem; text-align: center"}
     "What now?"]]]]]
