^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "A theory of meaning"]
  [:link {:rel "stylesheet" :href "theory-meaning.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section {:id "main"}
   [:section {:style "position: relative;"}
    [:h1 {:style "color: brown"}
     "A theory of meaning"]
    [:p {:style "position: absolute; left: 30em; color: #3B463E"}
     "I don't like the heading color."]
    [:ol
     [:li "Have a worthy pursuit"]
     [:li "Take care of your friends"]
     [:li "Stay true to your principles"]]]]
  [:section {:id "discussion"}
   [:section {:style "margin-top: 2em; margin-bottom: 2em"}
    [:p {:style "color: white; text-align: center"}
     "Now what?"]]
   [:section
    [:h2 "Discussion"]
    [:p "Comments are much welcome! Please use "
     [:a {:href "https://twitter.com/TeodorHeggelund/status/1414673600817336322"} "Twitter"] " or Hypothesis."]
    [:p "I actually mean A theory. It's not THE theory. We've constructed"
     " theories of meaning for as long as we've had culture. \"What am I?\""
     " I don't presume to solve that. So, why bother?"]
    [:p "Because " [:em "the pursuit"] " of a theory of meaning might be worthwhile."]]
   [:section
    [:h3 "2021-07-12"]
    [:p "About " [:em "Stay true to your principles"] ". Whose principles?"
     " I like to talk about principles. But that's not really the point."
     " The point is the \"stay true\" part. What does that mean? If you're"
     " not staying true, then you'll feel bad. At least I would. And that's the point."]
    [:p "But \"listen to your heart\" sounds too vague for my taste."]
    [:p.sig "-Teodor"]]
   [:section
    [:h3 "2021-07-14"]
    [:p "I'm skeptical. This smells too orderly, too simple. Where's the outside influence? Where is the stuff"
     " that's not known? Where are the new worthwhile pursuits?"]
    [:p.sig "-Teodor"]]
   [:section
    [:h3 "2021-07-16"]
    [:p [:strong "Erik about 3."]
     " The last one implies that you have good principles :)"]
    [:p [:strong "Erik about 2."]
     " What about family? How about \"relationships\" rather than friends?"]
    [:p "Teodor: I agree, close personal relationships is better."]]
   [:section
    [:p {:style "color: white; margin-left: auto; margin-right: auto; margin-top: 4rem; text-align: center"}
     "What now?"]]]]]
