/* ---------------------------------------------------------------------------
                             TYPOGRAPHY AND SIZING
 */

a {
  color: inherit;
}

body {
  font-size: 1rem;
  margin: 0;
}

body h1 {
  font-size: 1.6rem;
}

body h2 {
  font-size: 1.4rem;
}

body h3 {
  font-size: 1.2rem;
}

body > section {
  padding: 2em;
}

/* ---------------------------------------------------------------------------
                                    SPACING
*/

body > * > section {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------------------------------
                                 GRAPHIC STYLE
 */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > main {
  background-color: #77f87a;
  flex: 1;
}

/* Fallback color */
body > main {
  /* color: #1f5768; */
  color: #0c3441;
}

/* headings */
body > main h1,
body > main h2,
body > main h3,
body > main h4,
body > main h5,
body > main h6 {
  color: #222;
}
