^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "ARE YOU BORED YET"]
  [:link {:rel "stylesheet" :href "bored.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:h3 {:style "color: #252525"}
     "Are you bored yet?"]
    [:p "bored?"]]]]]
