^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "·"]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "stylesheet" :href "ast.css"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:section {:class "green"} #_"green"
   [:div {:class "anchor"}
    [:div {:class "textbox"
           :style "color: #ffb703; max-width: 40em;"}
     [:p "Dirt, sand. Stained glass."]
     [:p {:style "color: yellow"} "Clarity."]
     [:p "A bright future?"]]]]
  ;; do want: :style {:background-color "#77f87a"}
  ;; could solve with a walk. I also kinda want to call sci functions in here
  [:section {:style "background-color: #77f87a"}
   [:div {:class "anchor"}
    [:div {:class "textbox"}
     [:p {:style "color: yellow"} "Insight."]
     [:p {:style "color: #1f5768"} "Reason."]]]]
  [:section {:style "background-color: #1f5768"}
   #_"blue"
   [:div {:class "anchor"}
    [:div {:class "textbox"}
     [:p {:style "color: yellow"} "Attention."]
     [:p {:style "color: #ffb703"} "Details."]
     [:p {:style "color: #77f87a"} "Growth."]]]]]]
