^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "A Doom Emacs journey"]]
 [:body
  [:section {:id "main"}
   [:h1 "A Doom Emacs journey"]
   [:p "I enjoy the times when I can work in Doom Emacs. I'd like to share that."
    " I "
    [:a {:href "https://twitter.com/TeodorHeggelund/status/1403645361630199821"}
     "tweeted"]
    " about Emacs, and Doom specifically a while back. Here's the follow-up."]
   [:p "First: Doom Emacs has good documentation, and a community that cares. This page is not the best"
    " place to learn about Doom. To learn about Doom, I recommend:"]
   [:ol
    [:li "Browsing the " [:a {:href "https://github.com/hlissner/doom-emacs"}
                          "official documentation"]
     " to get an overview, and learn the ropes,"]
    [:li "Ask for help in the dedicated #help channel on the "
     [:a {:href "https://github.com/hlissner/doom-emacs#getting-help"}
      "Doom Emacs Discord"] " if you get stuck,"]
    [:li "Read the guides on the " [:a {:href "https://discourse.doomemacs.org/"} "Doom Emacs Discourse"]
     " to improve fluency with Magit, Dired, or learn to write your Doom package"]
    ]
   [:span]]
  [:section {:id "discussion"}
   [:div {:style "height: 7em;"}]
   [:hr]
   [:h2 "Discussion"]
   [:p "Comments are much welcome! Please use "
    [:a {:href "https://twitter.com/TeodorHeggelund/status/1403645118893150209"} "Twitter"] " or Hypothesis."]]]]



