^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title ""]
  [:link {:rel "stylesheet" :href "sp.css"}]]
 [:body
  [:section {:class "green"} #_"green"]
  [:section {:class "yellow"} #_"yellow"]
  [:section {:class "blue"} #_"blue"]
  #_ "I'd like this to show up top, as much space as it needs."
  #_
  [:div {:id "container"}
   [:section {:id "introduction"}
    [:p "I need:"]
    [:ul
     [:li "a green"]
     [:li "a yellow"]
     [:li "and a blue"]]
    [:p "What to do?"]
    [:p "I started programming - I don't really want to program, I want to view colors. So let's compile once, then get this working."]]
   #_ "And this to take up the remaining space, dividing equally between the colors."
   ]]]
