^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "sp"]]
 [:body
  [:p "I need:"]
  [:ul
   [:li "a green"]
   [:li "a yellow"]
   [:li "and a blue"]]
  [:p "What to do?"]
  [:p "I started programming - I don't really want to program, I want to view colors. So let's compile once, then get this working."]]]
