body {
    min-height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section#introduction {
    padding: 2em;
    background-color: green;
}

section#colors {
    background-color: yellowgreen;
    flex: 1;
}

section#colors > * {
    padding: 2em;
}

/* Some possible greens. */

.green1 {
    background-color: #43a047;
}

.green2 {
    background-color: #288a2b;
}

.green3 {
    background-color: #3fa142;
}

.green4 {
    background-color: #77f87a;
}

.green5 {
    background-color: #69da6b;
}

.green6 {
    background-color: #4cc24f;
}
