body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section#introduction {
    padding: 2em;
    background-color: green;
}

section#colors {
    background-color: yellowgreen;
    flex: 1;
}

section#colors > * {
    padding: 2em;
}
