^{:teod.subcons/builder :teod.subcons.builder/hiccup-html
  :teod.subcons/transformers [eu.teod.subcons.sci/eval]}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "Aspirational TODO"]
  [:link {:rel "stylesheet" :href "style.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:p [:a {:href ".."} ".."]]
    [:h1 {:style "color: #252525"}
     "A simple static site setup"]
    [:p "Just write HTML/EDN, abstract with SCI."]
    [:p "TODO - more content."]
    [:p "Wait, does this work? It does..."]
    [:p "Observation: I don't like the terminology for build & builder."
     " What's the difference? Should we just have subcons.teod.eu.build/watch?"]
    [:p "I also want to try just evaluating with SCI. Opt-in via metadata?"]
    ;; View on web - Can this be a function / reusable component?
    [:p "View this page on web: " [:a {:href "https://subcons.teod.eu/simple-static/"
                                       :target "_blank"}
                                   "https://subcons.teod.eu/simple-static/"]]]]]]
