^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "Aspirational TODO"]
  [:link {:rel "stylesheet" :href "style.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:p [:a {:href ".."} ".."]]
    [:h1 {:style "color: #252525"}
     "A simple static site setup"]
    [:p "Just write HTML/EDN, abstract with SCI."]
    [:p "TODO - more content."]
    [:p "Wait, does this work? It does..."]
    ;; View on web - Can this be a function / reusable component?
    [:p "View this page on web: " [:a {:href "https://subcons.teod.eu/aspirational-todo/"
                                       :target "_blank"}
                                   "https://subcons.teod.eu/aspirational-todo/"]]]]]]
