/* ---------------------------------------------------------------------------
                             TYPOGRAPHY AND SIZING
 */

a {
    color: inherit;
}

body {
    font-size: 1rem;
    margin: 0;
}

body h1 {
    font-size: 1.6rem;
}

body h2 {
    font-size: 1.4rem;
}

body h3 {
    font-size: 1.2rem;
}

body > section {
    padding: 2em;
}

/* ---------------------------------------------------------------------------
                                    SPACING
*/

body > * > section {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------------------------------------------
                                 GRAPHIC STYLE
 */

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    background-color: #77f87a;
    color: #1f5768;
    flex: 1;
}

body > section:nth-child(2) {
    background-color: #1f5768;
    color: #77f87a;
}

body > section:nth-child(2) h2,h3 {
    color: yellow;
}

.sig {
    color: #ffb703;
}


/* ---------------------------------------------------------------------------
                                 TYPE
   ---------------------------------------------------------------------------
 */

section > details {
    margin-top: 1em;
    margin-bottom: 1em;
}

section > details > p {
    margin-left: 14px;
}
