^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:title "teod/crazy-todo"]
  [:link {:rel "stylesheet" :href "crazy-todo.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:h1 {:style "color: #252525"}
     "Crazy-todo"]
    [:p "What would I do if I was " [:em "really"] " crazy?"]
    [:ol
     [:li [:p "Write your own Emacs plugin with transient."]
      [:p "Can I use Magit Transients as a Pacman interface?" ]
      [:p "Magit's manual is great — see "
       [:a {:href "https://magit.vc/manual/transient/Introduction.html#Introduction"
            :target "_blank"}
        "Introduction (magit.vc/manual/transient)"] "."]]
     [:li "How do I want to put code on here? Is there a nice way to integrate with "
      [:a {:href "https://nextjournal.github.io/clerk-demo/"
           :target "_blank"}
       "Clerk"]
      "?"]]
    [:p "View this page on web: " [:a {:href "https://subcons.teod.eu/crazy-todo/"
                                       :target "_blank"}
                                   "https://subcons.teod.eu/crazy-todo/"]]
    ]
   ]

  ]]
