^{:eu.teod.subcons/builder :eu.teod.subcons.builder/hiccup-html}
[:html
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "refresh"
          :content "5; URL=../aspirational-todo/"}]
  [:title "teod/crazy-todo"]
  [:link {:rel "stylesheet" :href "crazy-todo.css"}]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]
  [:link {:rel "icon" :type "image/svg+xml" :href "/solarpunk1.svg"}]]
 [:body
  [:main
   [:section
    [:p [:a {:href ".."} ".."]]
    [:h1 {:style "color: #252525"}
     "Crazy-todo"]
    [:p "This page has moved: " [:a {:href "../aspirational-todo/"} "Aspirational TODO"]]
    [:p "You will be redirected in 5 seconds."]
    ]]]]
